<div class="main-container">
  <div class="row">
    <div class="col-lg-3">
      <aside class="category-menu p-3">
        <div class="position-relative mb-4">
          <h5 class="sectionTitle pb-3">All Categories</h5>
        </div>

        <ul class="p-0">
          <li class="category-menu-item">
            Chaakri - Khakhras & Savories <span class="count">35</span>
          </li>
          <li class="category-menu-item">
            Devinite - Chocolate <span class="count">35</span>
          </li>
          <li class="category-menu-item">
            All Things Yum <span class="count">35</span>
          </li>
          <li class="category-menu-item">
            Puro - Body & Soul <span class="count">35</span>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-lg-9">
      <div class="section-header chaakriProductPage">
        <h4>Chaakri - Khakhras & Savories</h4>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="product-section-header py-3 d-flex justify-content-between">
        <p>We found <b>25</b> products for you !</p>
        <div class="d-flex gap-2">
          <div class="d-flex gap-2 view">
            <span><i class="bi bi-grid"></i></span>
            <span><i class="bi bi-list-ul"></i></span>
          </div>
          <select class="form-control form-control-sm">
            <option value="10" selected>show 10</option>
            <option value=" 50">show 50</option>
            <option value=" 100">show 50</option>
            <option value=" all">show All</option>
          </select>
          <div
            class="filter"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling"
          >
            filter
          </div>
          <div
            class="offcanvas offcanvas-end"
            data-bs-scroll="true"
            data-bs-backdrop="false"
            tabindex="-1"
            id="offcanvasScrolling"
            aria-labelledby="offcanvasScrollingLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
                Colored with scrolling
              </h5>
              <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <p>
                Try scrolling the rest of the page to see this option in action.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-016.jpg"
                />
              </a>
              <span class="product-discount-label">-20%</span>
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-search"></i></a>
                </li>
                <li>
                  <a href="#" data-tip="Wishlist"
                    ><i class="fas fa-heart"></i
                  ></a>
                </li>
                <li>
                  <a href="#" data-tip="Compare"
                    ><i class="bi bi-random"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹254.50</span> ₹230.99</div>

              <a href="" class="add-to-cart"
                ><i class="bi bi-cart"></i> Add to Cart</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-016.jpg"
                />
              </a>
              <span class="product-discount-label">-20%</span>
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-search"></i></a>
                </li>
                <li>
                  <a href="#" data-tip="Wishlist"
                    ><i class="fas fa-heart"></i
                  ></a>
                </li>
                <li>
                  <a href="#" data-tip="Compare"
                    ><i class="bi bi-random"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹254.50</span> ₹230.99</div>

              <a href="" class="add-to-cart"
                ><i class="bi bi-cart"></i> Add to Cart</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-016.jpg"
                />
              </a>
              <span class="product-discount-label">-20%</span>
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-search"></i></a>
                </li>
                <li>
                  <a href="#" data-tip="Wishlist"
                    ><i class="fas fa-heart"></i
                  ></a>
                </li>
                <li>
                  <a href="#" data-tip="Compare"
                    ><i class="bi bi-random"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹254.50</span> ₹230.99</div>

              <a href="" class="add-to-cart"
                ><i class="bi bi-cart"></i> Add to Cart</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-016.jpg"
                />
              </a>
              <span class="product-discount-label">-20%</span>
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-search"></i></a>
                </li>
                <li>
                  <a href="#" data-tip="Wishlist"
                    ><i class="fas fa-heart"></i
                  ></a>
                </li>
                <li>
                  <a href="#" data-tip="Compare"
                    ><i class="bi bi-random"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹254.50</span> ₹230.99</div>

              <a href="" class="add-to-cart"
                ><i class="bi bi-cart"></i> Add to Cart</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-016.jpg"
                />
              </a>
              <span class="product-discount-label">-20%</span>
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-search"></i></a>
                </li>
                <li>
                  <a href="#" data-tip="Wishlist"
                    ><i class="fas fa-heart"></i
                  ></a>
                </li>
                <li>
                  <a href="#" data-tip="Compare"
                    ><i class="bi bi-random"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹254.50</span> ₹230.99</div>

              <a href="" class="add-to-cart"
                ><i class="bi bi-cart"></i> Add to Cart</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-016.jpg"
                />
              </a>
              <span class="product-discount-label">-20%</span>
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-search"></i></a>
                </li>
                <li>
                  <a href="#" data-tip="Wishlist"
                    ><i class="fas fa-heart"></i
                  ></a>
                </li>
                <li>
                  <a href="#" data-tip="Compare"
                    ><i class="bi bi-random"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹254.50</span> ₹230.99</div>

              <a href="" class="add-to-cart"
                ><i class="bi bi-cart"></i> Add to Cart</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-016.jpg"
                />
              </a>
              <span class="product-discount-label">-20%</span>
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-search"></i></a>
                </li>
                <li>
                  <a href="#" data-tip="Wishlist"
                    ><i class="fas fa-heart"></i
                  ></a>
                </li>
                <li>
                  <a href="#" data-tip="Compare"
                    ><i class="bi bi-random"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹254.50</span> ₹230.99</div>

              <a href="" class="add-to-cart"
                ><i class="bi bi-cart"></i> Add to Cart</a
              >
            </div>
          </div>
        </div>

        
      </div> -->
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-016.jpg"
                />
              </a>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price">₹258.11</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-023.jpg"
                />
              </a>
              <span class="product-sale-label">20%</span>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹268.9</span>₹258.11</div>
            </div>
          </div>
        </div>
         <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-044.jpg"
                />
              </a>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price">₹258.11</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-049.jpg"
                />
              </a>
              <span class="product-sale-label">20%</span>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹268.9</span>₹258.11</div>
            </div>
          </div>
        </div>
         <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-050.jpg"
                />
              </a>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price">₹258.11</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-064.jpg"
                />
              </a>
              <span class="product-sale-label">20%</span>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹268.9</span>₹258.11</div>
            </div>
          </div>
        </div>
          <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-050.jpg"
                />
              </a>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price">₹258.11</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-064.jpg"
                />
              </a>
              <span class="product-sale-label">20%</span>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹268.9</span>₹258.11</div>
            </div>
          </div>
        </div>
          <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-050.jpg"
                />
              </a>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price">₹258.11</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img
                  class="pic-1"
                  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-064.jpg"
                />
              </a>
              <span class="product-sale-label">20%</span>
              <a href="#" class="add-to-cart" data-hover="add-to-cart"
                >Buy Now</a
              >
              <ul class="product-links">
                <li>
                  <a href="#"><i class="bi bi-eye"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-arrows-fullscreen"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <span class="category"><a href="#">Roasted Crispies</a></span>
              <h3 class="title"><a href="#">Product Name</a></h3>
              <div class="price"><span>₹268.9</span>₹258.11</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
