<div class="heading">
    <div>
        <h5>Manage Items</h5>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae.</p>
    </div>
    <div class="btn btn-sm btn-primary" (click)="openItemForm()">New Item</div>
</div>

<div class="tableHeader mb-3 d-flex flex-wrap gap-1 justify-content-between align-item-center">

    <app-pagination [EnablePageSize]="true" [rowData]="ItemList"
    (pageSizeChanged)="handlePageSizeChange($event)"></app-pagination>
    <div class="d-flex align-items-center gap-2 my-2">
        <input type="search" class="form-control form-control-sm" placeholder="Search Products....">
        <select name="example_length" class="dropdown-toggle form-select form-select-sm" placeholder="Brand">
            <option [ngValue]="brand.brandId" *ngFor="let brand of BrandList">{{brand.bName}}</option>
        </select>
    </div>

</div>



<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4" *ngIf="!loading">
    <div class="col" *ngFor="let item of ItemList">
        <div class="itemCard">
            <div class="product-grid text-start">
                <div class="product-image">
                    <span class="image">
                        <img [width]="100"
                            [src]="item.imagePath?item.imagePath : '../../../assets/images/products/Catelogue_240805_234540.pdf-image-049.jpg'"
                            class="pic-1">
                    </span>
                </div>
                <div class="product-content"><span class="category"><a>{{item.iType}}</a></span>
                    <h3 class="title"><a>{{item.iName}}</a></h3>
                    <div class="d-flex justify-content-between align-item-center">
                        <div class="price">MRP :
                            {{getItemPriceByItemId(item.itemId)?.mrp|currency:'INR':'symbol':'1.2-2'}}</div>
                    </div>
                </div>
                <div class="d-flex align-item-center gap-2 p-2">
                    <button class="btn btn-sm btn-outline-secondary text-primary w-100"
                        (click)="openItemEditForm(item)"> <i class="bi bi-pen"></i> Edit
                    </button>
                    <button class="btn btn-sm btn-outline-secondary text-danger w-100" (click)="deleteItem(item)"> <i
                            class="bi bi-trash"></i>
                        Delete
                    </button>
                </div>
                <div class="p-2">
                    <button class="btn btn-sm btn-outline-secondary text-success w-100"
                        [routerLink]="['./'+item.itemId]"><i class="bi bi-eye"></i>
                        View
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-pagination [EnableNavigation]="true" [rowData]="ItemList"
(pageSizeChanged)="handlePageSizeChange($event)"></app-pagination>

<!-- NOT TO BE VISIBLE ON REGULAR PAGE -->
<input type="file" id="cItemImage" class="form-control form-control-sm" style="display: none;"
    (change)="onFileSelected($event)" #fileInput>
<!-- NOT TO BE VISIBLE ON REGULAR PAGE -->

<div class="d-flex justify-content-center align-items-center" style="height:500px" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <span class="status">Loading...</span>

</div>


<ng-template #itemForm>
    <div class="modal-header">
        <h6 class="modal-title font-weight-600">Add New Item</h6>
        <button type="button" class="btn-close" (click)="addItemModal.close()"></button>
    </div>
    <div class="modal-body" style="min-height: 586px;">

        <mat-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="ItemForm">
                <form [formGroup]="ItemForm">
                    <ng-template matStepLabel><i class="bi bi-building me-2" style="font-size: 18px;"></i>
                        <h6 class="mb-0 d-none d-sm-none  font-weight-600 d-lg-inline-block">Item Details</h6>
                    </ng-template>
                    <div class="row">
                        <!-- Item Image Upload Section -->
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <div class="custom-file-upload text-center p-3" *ngIf="!imageUrl"
                                    (click)="triggerFileInput()" style="cursor: pointer;">
                                    <label class="upload-label">
                                        <i class="bi bi-cloud-upload"
                                            style="font-size: 24px; color: var(--primary-col);"></i>
                                        <span class="d-block mt-2">Upload Item Image</span>
                                    </label>

                                </div>
                                <img *ngIf="imageUrl" [src]="imageUrl" [width]="200" alt="Uploaded Image"
                                    class="img-preview mt-2" (click)="triggerFileInput()" style="cursor: pointer;">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="iName">Item Name</label> <span class="text-danger h6">*</span>
                                <input class="form-control form-control-sm" type="text" id="iName"
                                    formControlName="iName">
                                <div class="text-danger"
                                    *ngIf="(ItemForm.get('iName')?.touched && ItemForm.get('iName')?.invalid )">
                                    <ng-container *ngIf="ItemForm.get('iName')?.errors">
                                        <ng-container *ngIf="ItemForm.get('iName')?.errors?.['required']">Input field is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('iName')?.errors?.['required'] && ItemForm.get('iName')?.errors?.['whitespace']">No
                                            empty spaces allowed</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('iName')?.errors?.['required'] && !ItemForm.get('iName')?.errors?.['whitespace'] && ItemForm.get('iName')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="iCode">Item Code</label>
                                <input class="form-control form-control-sm" type="text" id="iCode"
                                    formControlName="iCode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="brand">Brand</label><span class="text-danger h6">*</span>
                                <select class="form-select form-select-sm" formControlName="brandId"
                                    (change)="onBrancChange()">
                                    <option [ngValue]="0">Select Brand</option><span class="text-danger h6">*</span>
                                    <option [ngValue]="brand.brandId" *ngFor="let brand of BrandList">{{brand.bName}}
                                    </option>
                                    <!-- Add more options as needed -->
                                </select>
                                <div class="text-danger"
                                    *ngIf="(ItemForm.get('brandId')?.touched && ItemForm.get('brandId')?.invalid )">
                                    <ng-container *ngIf="ItemForm.get('brandId')?.errors">
                                        <ng-container *ngIf="ItemForm.get('brandId')?.errors?.['required']">Input field
                                            is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('brandId')?.errors?.['required'] && ItemForm.get('brandId')?.errors?.['whitespace']">No
                                            empty spaces allowed</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('brandId')?.errors?.['required'] && !ItemForm.get('brandId')?.errors?.['whitespace'] && ItemForm.get('brandId')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="packaging">Packaging</label>
                                <select id="packaging" name="packaging" class="form-select form-select-sm"
                                    formControlName="packingId">
                                    <option value="0" selected>Select Packaging</option><span
                                        class="text-danger h6">*</span>
                                    <option [ngValue]="package.packagingId" *ngFor="let package of PackageList">
                                        {{package.pName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="iDesc">Item Description</label>
                                <textarea id="iDesc" rows="6" class="form-control form-control-sm"
                                    formControlName="iDesc"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="iType">Item Type</label><span class="text-danger h6">*</span>
                                <input class="form-control form-control-sm" id="iType" formControlName="iType">
                                <div class="text-danger"
                                    *ngIf="(ItemForm.get('iType')?.touched && ItemForm.get('iType')?.invalid )">
                                    <ng-container *ngIf="ItemForm.get('iType')?.errors">
                                        <ng-container *ngIf="ItemForm.get('iType')?.errors?.['required']">Input field is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('iType')?.errors?.['required'] && ItemForm.get('iType')?.errors?.['whitespace']">No
                                            empty spaces allowed</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('iType')?.errors?.['required'] && !ItemForm.get('iType')?.errors?.['whitespace'] && ItemForm.get('iType')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="iSize">Item Size</label><span class="text-danger h6">*</span>
                                <input class="form-control form-control-sm" id="iSize" formControlName="iSize">
                                <div class="text-danger"
                                    *ngIf="(ItemForm.get('iSize')?.touched && ItemForm.get('iSize')?.invalid )">
                                    <ng-container *ngIf="ItemForm.get('iSize')?.errors">
                                        <ng-container *ngIf="ItemForm.get('iSize')?.errors?.['required']">Input field is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('iSize')?.errors?.['required'] && ItemForm.get('iSize')?.errors?.['whitespace']">No
                                            empty spaces allowed</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('iSize')?.errors?.['required'] && !ItemForm.get('iSize')?.errors?.['whitespace'] && ItemForm.get('iSize')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mrp">MRP Printed</label><span class="text-danger h6">*</span>

                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="mrpYes"
                                            formControlName="mrpPrinted" value="1">
                                        <label class="form-check-label" for="mrpYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="mrpNo"
                                            formControlName="mrpPrinted" value="0">
                                        <label class="form-check-label" for="mrpNo">No</label>
                                    </div>
                                </div>

                                <div class="text-danger"
                                    *ngIf="ItemForm.get('mrpPrinted')?.touched && ItemForm.get('mrpPrinted')?.invalid">
                                    <ng-container *ngIf="ItemForm.get('mrpPrinted')?.errors">
                                        <ng-container *ngIf="ItemForm.get('mrpPrinted')?.errors?.['required']">
                                            Please select an option
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label for="mrp">MRP Printed</label><span class="text-danger h6">*</span>

                                <input type="radio" name="" id="">
                                <input class="form-control form-control-sm" id="mrp" formControlName="mrpPrinted">
                                <div class="text-danger"
                                    *ngIf="(ItemForm.get('mrpPrinted')?.touched && ItemForm.get('mrpPrinted')?.invalid )">
                                    <ng-container *ngIf="ItemForm.get('mrpPrinted')?.errors">
                                        <ng-container *ngIf="ItemForm.get('mrpPrinted')?.errors?.['required']">Input
                                            field is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('mrpPrinted')?.errors?.['required'] && ItemForm.get('mrpPrinted')?.errors?.['whitespace']">No
                                            empty spaces allowed</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('mrpPrinted')?.errors?.['required'] && !ItemForm.get('mrpPrinted')?.errors?.['whitespace'] && ItemForm.get('mrpPrinted')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="moq">Minimum Order Quantity (MOQ)</label><span
                                    class="text-danger h6">*</span>
                                <input class="form-control form-control-sm" type="number" id="moq"
                                    formControlName="moq">
                                <div class="text-danger"
                                    *ngIf="(ItemForm.get('moq')?.touched && ItemForm.get('moq')?.invalid )">
                                    <ng-container *ngIf="ItemForm.get('moq')?.errors">
                                        <ng-container *ngIf="ItemForm.get('moq')?.errors?.['required']">Input field is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('moq')?.errors?.['required'] && ItemForm.get('moq')?.errors?.['whitespace']">No
                                            empty spaces allowed</ng-container>
                                        <ng-container
                                            *ngIf="!ItemForm.get('moq')?.errors?.['required'] && !ItemForm.get('moq')?.errors?.['whitespace'] && ItemForm.get('moq')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="ItemPriceForm">
                <form [formGroup]="ItemPriceForm">
                    <ng-template matStepLabel><i class="bi bi-building me-2" style="font-size: 18px;"></i>
                        <h6 class="mb-0 d-none d-sm-none  font-weight-600 d-lg-inline-block">Item Price</h6>
                    </ng-template>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>MRP</label> <span class="text-danger h6">*</span>
                                <input class="form-control form-control-sm" type="number" formControlName="mrp">
                                <div class="text-danger"
                                    *ngIf="(ItemPriceForm.get('mrp')?.touched && ItemPriceForm.get('mrp')?.invalid )">
                                    <ng-container *ngIf="ItemPriceForm.get('mrp')?.errors">
                                        <ng-container *ngIf="ItemPriceForm.get('mrp')?.errors?.['required']">Input field
                                            is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('mrp')?.errors?.['required'] && ItemPriceForm.get('mrp')?.errors?.['nonZero']">Value
                                            cannot be Zero</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('mrp')?.errors?.['required'] && !ItemPriceForm.get('mrp')?.errors?.['nonZero'] && ItemPriceForm.get('mrp')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item Price 1</label> <span class="text-danger h6">*</span>
                                <input class="form-control form-control-sm" type="number" formControlName="iP1">
                                <div class="text-danger"
                                    *ngIf="(ItemPriceForm.get('iP1')?.touched && ItemPriceForm.get('iP1')?.invalid )">
                                    <ng-container *ngIf="ItemPriceForm.get('iP1')?.errors">
                                        <ng-container *ngIf="ItemPriceForm.get('iP1')?.errors?.['required']">Input field
                                            is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('iP1')?.errors?.['required'] && ItemPriceForm.get('iP1')?.errors?.['nonZero']">Value
                                            cannot be Zero</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('iP1')?.errors?.['required'] && !ItemPriceForm.get('iP1')?.errors?.['nonZero'] && ItemPriceForm.get('iP1')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item Price 2</label> <span class="text-danger h6">*</span>
                                <input class="form-control form-control-sm" type="number" formControlName="iP2">
                                <div class="text-danger"
                                    *ngIf="(ItemPriceForm.get('iP2')?.touched && ItemPriceForm.get('iP2')?.invalid )">
                                    <ng-container *ngIf="ItemPriceForm.get('iP2')?.errors">
                                        <ng-container *ngIf="ItemPriceForm.get('iP2')?.errors?.['required']">Input field
                                            is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('iP2')?.errors?.['required'] && ItemPriceForm.get('iP2')?.errors?.['nonZero']">Value
                                            cannot be Zero</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('iP2')?.errors?.['required'] && !ItemPriceForm.get('iP2')?.errors?.['nonZero'] && ItemPriceForm.get('iP2')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item Price 3</label> <span class="text-danger h6">*</span>
                                <input class="form-control form-control-sm" type="number" formControlName="iP3">
                                <div class="text-danger"
                                    *ngIf="(ItemPriceForm.get('iP3')?.touched && ItemPriceForm.get('iP3')?.invalid )">
                                    <ng-container *ngIf="ItemPriceForm.get('iP3')?.errors">
                                        <ng-container *ngIf="ItemPriceForm.get('iP3')?.errors?.['required']">Input field
                                            is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('iP3')?.errors?.['required'] && ItemPriceForm.get('iP3')?.errors?.['nonZero']">Value
                                            cannot be Zero</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('iP3')?.errors?.['required'] && !ItemPriceForm.get('iP3')?.errors?.['nonZero'] && ItemPriceForm.get('iP3')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cost Price</label> <span class="text-danger h6">*</span>
                                <input class="form-control form-control-sm" type="number" formControlName="cp">
                                <div class="text-danger"
                                    *ngIf="(ItemPriceForm.get('cp')?.touched && ItemPriceForm.get('cp')?.invalid )">
                                    <ng-container *ngIf="ItemPriceForm.get('cp')?.errors">
                                        <ng-container *ngIf="ItemPriceForm.get('cp')?.errors?.['required']">Input field
                                            is
                                            required</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('cp')?.errors?.['required'] && ItemPriceForm.get('cp')?.errors?.['nonZero']">Value
                                            cannot be Zero</ng-container>
                                        <ng-container
                                            *ngIf="!ItemPriceForm.get('cp')?.errors?.['required'] && !ItemPriceForm.get('cp')?.errors?.['nonZero'] && ItemPriceForm.get('cp')?.errors?.['minlength']">Minimum
                                            characters required</ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </mat-step>

        </mat-stepper>


    </div>
    <!-- <div class="modal-footer text-end">
        <button class="btn btn-sm secondary-btn me-2" (click)="addItemModal.close()">Close</button>
        <button class="btn btn-sm btn-primary" (click)="submitItemForm()">Submit</button>
    </div> -->
    <div class="modal-footer">
        <button (click)="stepper.previous()" *ngIf="stepper.selectedIndex != 0"
            class="btn btn-sm btn-secondary">Back</button>
        <button (click)="validateStepperForm(stepper)" *ngIf="(stepper.steps.length - 1) != stepper.selectedIndex"
            class="btn btn-sm btn-primary">Next</button>
        <button (click)="submitItemForm()" *ngIf="(stepper.steps.length - 1) == stepper.selectedIndex"
            class="btn btn-sm btn-primary">Submit</button>
    </div>
</ng-template>