
<app-page-header Heading="Manage combos">
    <div class="btn btn-sm btn-primary" (click)="opencomboForm()">Add New Kit</div>
</app-page-header>

<div>
    <app-pagination [EnablePageSize]="true" [rowData]="comboList"
        (pageSizeChanged)="handlePageSizeChange($event)"></app-pagination>
<!-- 
    <div class="tablebody border" style="min-height: 530px;">
        <table class="dataTable">
            <thead>
                <tr>
                    <th style="width:2%">Sr No</th>
                    <th style="width:21%">combo Name</th>
                    <th style="width:21%">Image</th>
                    <th style="width:22%">Code</th>
                    <th style="width:22%">Description</th>
                    <th style="width:8%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let combo of comboList; let i=index">
                    <td class="text-center">{{i+1}}</td>
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            {{combo.cName}}
                        </div>
                    </td>
                    <td>
                        <div class="w-100 text-center">
                            <img src="../../../assets/images/comboReference.png" alt="" width="150px">
                        </div>
                    </td>
                    <td>{{combo.cCode}}</td>
                    <td>{{combo.cDescription}}</td>
                    <td>
                        <div class="dataTableicon d-flex align-items-center justify-content-around">
                            <a class="bi bi-trash" (click)="deletecombo(combo)"></a>
                            <a class="bi bi-eye" [routerLink]="['./'+combo.comboId]"></a>
                            <a class="bi bi-pen" (click)="openEditcomboForm(combo)"></a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div> -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4" *ngIf="!loading">

        <div class="col" *ngFor="let combo of comboList; let i=index" >
            <div class="itemCard comboCard">
                <div class="product-grid text-start">
                    <div class="product-image text-center p-3 "><span class="image" [routerLink]="['./'+combo.comboId]"><img
                                src="../../../../assets/images/products/Catelogue_240805_234540.pdf-image-049.jpg"
                                class="pic-1"></span>
                    </div>
                    <div class="product-content" [routerLink]="['./'+combo.comboId]">
    
                        <h3 class="title mb-0">{{combo.cName}} </h3>
                        <p class="text-muted mb-1"> 5 Products</p>
                        <p class="ellipsis-text">{{combo.cDescription}}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <div class="price">₹258.11</div>
                        </div>
                    </div>
                    <div class="d-flex align-item-center gap-2 p-2">
                        <button class="btn btn-sm btn-outline-secondary w-100" (click)="openEditcomboForm(combo)"> <i class="bi bi-pen"></i> Edit </button>
                        <button class="btn btn-sm btn-outline-secondary w-100 " (click)="deletecombo(combo)"> <i class="bi bi-trash"></i> Delete </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="d-flex justify-content-center align-items-center" style="height:500px" *ngIf="loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span class="status">Loading...</span>

    </div>
    <app-pagination [EnableNavigation]="true" [rowData]="comboList"
        (pageSizeChanged)="handlePageSizeChange($event)"></app-pagination>
</div>













<ng-template #ComboMasterForm>
    <div class="modal-header">
        <h6 class="modal-title font-weight-600">Add New Item</h6>
        <button type="button" class="btn-close" (click)="comboFormModal.close()"></button>
    </div>
    <div class="modal-body">
        <form class="container">
            <div class="row" [formGroup]="comboForm">
                <!-- <div class="col-md-12">
                    <input type="file" id="fileInput" accept="image/*">
                    <img id="preview" alt="Image Preview">
                </div> -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label font-sb mb-1">combo Name <span style="color: red;">*</span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="cName">
                        <div class="text-danger"
                        *ngIf="(comboForm.get('cName')?.touched && comboForm.get('cName')?.invalid )">
                        <ng-container *ngIf="comboForm.get('cName')?.errors">
                            <ng-container *ngIf="comboForm.get('cName')?.errors?.['required']">Input field is
                                required</ng-container>
                            <ng-container
                                *ngIf="!comboForm.get('cName')?.errors?.['required'] && comboForm.get('cName')?.errors?.['whitespace']">No
                                empty spaces allowed</ng-container>
                            <ng-container
                                *ngIf="!comboForm.get('cName')?.errors?.['required'] && !comboForm.get('cName')?.errors?.['whitespace'] && comboForm.get('cName')?.errors?.['minlength']">Minimum
                                characters required</ng-container>
                        </ng-container>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label font-sb mb-1">combo Code<span style="color: red;">*</span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="cCode">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Description<span style="color: red;">*</span></label>
                        <textarea type="text" class="form-control form-control-sm" rows="6" formControlName="cDescription"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary me-2" (click)="comboFormModal.close()">Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="submitForm()">Save changes</button>
    </div>
</ng-template>