<div class="aboutUsBanner">
    <div class="overlay">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1>Empowering The Rural Women</h1>
                <p>Sa-Ni-Sa provides employment opportunities to under-privileged and needy women to enable them become
                    independent. Training is provided to manufacture various products and corporate gift packs under its
                    brands ‘Chaakri’, ‘Divinite’, ‘Puro’, ‘Udaan’ and ‘All Things Yum’.</p>
            </div>
        </div>
    </div>
</div>


<!-- <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a routerLink="/" >Home</a>
                    <span></span> Pages <span></span> About us
                </div>
            </div>
        </div> -->


<section class="aboutSection">
    <div class="main-container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-3 col-md-5 ">
                <img class="img-fluid rounded" src="../../../assets/images/about1.jpg">
            </div>
            <div class="col-lg-6 col-md-7  ">
                <h1 class=" mb-0 display-6 fw-bold" style="color:var(--primary-col)">19</h1>
                <p class=" mb-4 fw-bold" style="color:var(--primary-col)">Year of Experience</p>
                <h2 class="mb-4 display-6 fw-bold">Creating Employment Opportunities For Women’s Lives</h2>
                <p class="text-muted">At Sa-Ni-Sa, we believe in the power of opportunity. By providing meaningful
                    employment and training to underprivileged women, we not only help them gain financial independence
                    but also empower them to build better futures for themselves and their families. Our initiatives are
                    designed to uplift women from challenging circumstances, enabling them to achieve their full
                    potential and contribute positively to their communities. Together, we are making a lasting impact,
                    one job at a time.</p>
            </div>
            <div class="col-lg-3 col-md-12 ">
                <div class="row g-5">
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="border-start ps-4">
                            <img src="../../../assets/images/presentation.gif" class="mb-2" style="width: 50px;" alt="">
                            <h5 class="font-weight-600">Comprehensive Training Programs</h5>
                            <span>Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="border-start ps-4">
                            <img src="../../../assets/images/durability.gif" style="width: 50px;" class="mb-2" alt="">
                            <h5 class="font-weight-600">Community Empowerment</h5>
                            <span>Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<section class="section-services">
    <div class="row justify-content-center text-center">
        <div class="col-md-10 col-lg-8">
            <div class="header-section">
                <h2 class="title">The Benefits of Choosing Us !</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada
                    fermentum purus, eu volutpat nisi laoreet id. Phasellus fringilla accumsan metus, at tempor est
                    hendrerit et.</p>
            </div>
        </div>
    </div>
    <div class="we-offer-area text-center bg-gray">
        <div class="container">
            <div class="row our-offer-items justify-content-center ">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6  mb-3">
                    <div class="item shadow">
                        <i class="bi bi-truck"></i>
                        <h5 class="font-weight-600">Free Shipping</h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6  mb-3">
                    <div class="item shadow">
                        <i class="bi bi-shield-check"></i>
                        <h5 class="font-weight-600">High Quality Products</h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6  mb-3">
                    <div class="item shadow">
                        <i class="bi bi-currency-rupee"></i>
                        <h5 class="font-weight-600">Affordable Pricing</h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <!-- <div class="col-md-4 col-sm-6  mb-3">
                                    <div class="item">
                                        <i class="fas fa-tachometer-alt"></i>
                                        <h5>Service 5</h5>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                        </p>
                                    </div>
                                </div> -->
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6  mb-3">
                    <div class="item shadow">
                        <i class="bi bi-people-fill"></i>
                        <h5 class="font-weight-600">Social Activities</h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6  mb-3">
                    <div class="item shadow">
                        <i class="bi bi-headset"></i>
                        <h5 class="font-weight-600">24/7 Support</h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</section>
<section class="socialMediaSec">
    <div class="row">
        <div class="col-md-2 col-sm-6 p-0">
            <div class="box">
                <img src="../../../assets/images/products/Insta_post.png">
                <div class="box-content">
                    <h3 class="title"><i class="bi bi-instagram"></i> chaakri_india</h3>
                    <span class="post"><i class="bi bi-heart-fill"></i>1001 &nbsp; <i class="bi bi-chat-fill"></i>12
                    </span>
                </div>
                <ul class="icon">
                    <li>
                        <a >
                            <i class="bi bi-link"></i>

                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 p-0">
            <div class="box">
                <img src="../../../assets/images/products/Insta-post2.png">
                <div class="box-content">
                    <h3 class="title"><i class="bi bi-instagram"></i> chaakri_india</h3>
                    <span class="post"><i class="bi bi-heart-fill"></i>1001 &nbsp; <i class="bi bi-chat-fill"></i>12
                    </span>
                </div>
                <ul class="icon">
                    <li><a
                            href="https://www.instagram.com/reel/CvkbS-uLKwI/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="><i
                                class="bi bi-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 p-0">
            <div class="box">
                <img src="../../../assets/images/products/Insta_post.png">
                <div class="box-content">
                    <h3 class="title"><i class="bi bi-instagram"></i> chaakri_india</h3>
                    <span class="post"><i class="bi bi-heart-fill"></i>1001 &nbsp; <i class="bi bi-chat-fill"></i>12
                    </span>
                </div>
                <ul class="icon">
                    <li><a
                            href="https://www.instagram.com/reel/CvkbS-uLKwI/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="><i
                                class="bi bi-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 p-0">
            <div class="box">
                <img src="../../../assets/images/products/Insta-post2.png">
                <div class="box-content">
                    <h3 class="title"><i class="bi bi-instagram"></i> chaakri_india</h3>
                    <span class="post"><i class="bi bi-heart-fill"></i>1001 &nbsp; <i class="bi bi-chat-fill"></i>12
                    </span>
                </div>
                <ul class="icon">
                    <li><a
                            href="https://www.instagram.com/reel/CvkbS-uLKwI/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="><i
                                class="bi bi-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 p-0">
            <div class="box">
                <img src="../../../assets/images/products/Insta_post.png">
                <div class="box-content">
                    <h3 class="title"><i class="bi bi-instagram"></i> chaakri_india</h3>
                    <span class="post"><i class="bi bi-heart-fill"></i>1001 &nbsp; <i class="bi bi-chat-fill"></i>12
                    </span>
                </div>
                <ul class="icon">
                    <li><a
                            href="https://www.instagram.com/reel/CvkbS-uLKwI/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank"><i
                                class="bi bi-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 p-0">
            <div class="box">
                <img src="../../../assets/images/products/Insta-post2.png">
                <div class="box-content">
                    <h3 class="title"><i class="bi bi-instagram"></i> chaakri_india</h3>
                    <span class="post"><i class="bi bi-heart-fill"></i>1001 &nbsp; <i class="bi bi-chat-fill"></i>12
                    </span>
                </div>
                <ul class="icon">
                    <li>
                   
                        <a><i class="bi bi-link"></i></a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

</section>

            <!-- <p>                
                    <a data-fancybox="gallery" href="https://www.instagram.com/reel/CvkbS-uLKwI/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">
                      <img src="https://lipsum.app/id/60/200x150" width="200" height="150" />
                    </a>
                    <a data-fancybox="gallery" href="https://lipsum.app/id/61/1600x1200">
                      <img src="https://lipsum.app/id/61/200x150" width="200" height="150" />
                    </a>
                    <a data-fancybox="gallery" href="https://lipsum.app/id/62/1600x1200">
                      <img src="https://lipsum.app/id/62/200x150" width="200" height="150" />
                    </a>
                    <a data-fancybox="gallery" href="https://lipsum.app/id/63/1600x1200">
                      <img src="https://lipsum.app/id/63/200x150" width="200" height="150" />
                    </a>
                    <a data-fancybox="gallery" href="https://lipsum.app/id/64/1600x1200">
                      <img src="https://lipsum.app/id/64/200x150" width="200" height="150" />
                    </a>                 
            </p>  -->




