<div class="LoginBackground">
    <div class="container custom-container">
        <div class="row loginContainer">
            <div class="col-md-6 loginBanner  shadow border-0 d-none d-sm-none d-md-block">
                <img src="/assets/images/loginBannerImage.png" alt="" class="loginBannerImage d-none d-md-block d-sm-none" >
              <div style="text-align: center;">
                <small class="loginBannerText">Lorem ipsum dolor sit amet, Lorem ipsum dolor sit <br> ametconsectetur Lorem ipsum dolor sit amet, <br> Lorem ipsum </small>
              </div> 
            </div>
            <div class="col-md-6 loginSection  shadow border-0">
                <h5 class="subscriptionText">Amazing subscription services for <br> Your Organization</h5>
                <img src="/assets/images/MindStack_Logo_TransparentBG 1.png" alt="" class="loginLogo">              
                <h4 class="Account">Login</h4>
                <form class="loginForm" [formGroup]="LoginForm">
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label> 
                        <input type="text" class="form-control form-control-sm" id="Email" aria-describedby="emailHelp" formControlName="userName"
                            placeholder="useremail@abc.com">

                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label><br>
                        <input type="password" class="form-control form-control-sm" id="Password" placeholder="******" formControlName="password">
                    </div>
                    <div class="mb-3">
                        <label for="ForgotPassword1" class="form-label ForgotPassword">Forgot
                            password?</label>

                    </div>
                    <button type="submit" class="btn primary-btn" (click)="loginUser()">Login</button>
                    <div class="CreateAccount">
                        <label for="" class="form-label">Not registered? <a href="" routerLink="/createAccount"  class="AccountCreation">Create an
                                account</a></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img src="/assets/images/loginBackground.png" alt="" class="loginBackgroundImage d-none d-sm-none d-md-block"></div>
 <div>
