<div class="main-container p-3">
    <div class="row">
        <div class="col-xl-3">
            <aside>
                <div class="category-menu p-3">
                  <div class="position-relative mb-4">
                    <h5 class="sectionTitle pb-3">All Categories</h5>
                  </div>
        
                  <ul class="p-0">
                    <li class="category-menu-item">
                      Chaakri - Khakhras & Savories <span class="count">35</span>
                    </li>
                    <li class="category-menu-item">
                      Devinite - Chocolate <span class="count">35</span>
                    </li>
                    <li class="category-menu-item">
                      All Things Yum <span class="count">35</span>
                    </li>
                    <li class="category-menu-item">
                      Puro - Body & Soul <span class="count">35</span>
                    </li>
                  </ul>
                </div>
                <div class="offerBanner">                          
                    <div class="offerBannerText p-3">
                      <h5>Corporate Gifting</h5>
                      <p>Craft personalized gifts for your corporate family!</p>
                      <button class="shop-now-btn"> 
                        <span>Shop Now</span>
                        <i class="bi bi-arrow-right"></i>
                      </button>
                      
                    </div>
                    <img src="../../../assets/images/Nachni-Khakhra-scaled-removebg-preview 1 (1).png" alt="">
                  </div>
             
              </aside>
        </div>
        <div class="col-xl-9">
            <div class="row">
                <div class="col-lg-4">
                  <div class="tab-content" id="preview-thumbnail">
                      <div class="tab-pane fade show active" id="pic1-tab-pane" role="tabpanel" aria-labelledby="pic1-tab" tabindex="0">
                        <img class="preview-thumbnail-img" src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-023.jpg" />
                      </div>
                      <div class="tab-pane fade" id="pic2-tab-pane" role="tabpanel" aria-labelledby="pic2-tab" tabindex="0">
                        <img class="preview-thumbnail-img" src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-044.jpg" />
                      </div>
                      <div class="tab-pane fade" id="pic3-tab-pane" role="tabpanel" aria-labelledby="pic3-tab" tabindex="0">
                        <img class="preview-thumbnail-img"  src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-049.jpg" />
                      </div>
                    </div>
                    <ul class="nav nav-tabs border-0 preview-pic justify-content-center" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <span class="nav-link active" id="pic1-tab" data-bs-toggle="tab" data-bs-target="#pic1-tab-pane" type="button" role="tab" aria-controls="pic1-tab-pane" aria-selected="true">
                          <img   src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-023.jpg" />
                        </span>
                      </li>
                      <li class="nav-item" role="presentation">
                        <span class="nav-link" id="pic2-tab" data-bs-toggle="tab" data-bs-target="#pic2-tab-pane" type="button" role="tab" aria-controls="pic2-tab-pane" aria-selected="false">
                          <img    src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-044.jpg" />
                        </span>
                      </li>
                      <li class="nav-item" role="presentation">
                        <span class="nav-link" id="pic3-tab" data-bs-toggle="tab" data-bs-target="#pic3-tab-pane" type="button" role="tab" aria-controls="pic3-tab-pane" aria-selected="false">
                          <img    src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-049.jpg" />
                        </span>
                      </li>
                
                    </ul>
                </div>
                <div class="col-lg-6">
                  <div class="productDetail">
                    <span class="category">Roasted Crispies</span>
                    <h2 class="productName mt-2">Product Name Title Here</h2>
          
                    <div class="d-flex gap-2 align-item-center">
                      <div class="rating">
                        <i class="bi bi-star-fill rated"></i>
                        <i class="bi bi-star-fill rated"></i>
                        <i class="bi bi-star-fill rated"></i>
                        <i class="bi bi-star nonRated"></i>
                        <i class="bi bi-star nonRated"></i>
                      </div>
                      <small style="margin-top: 3px; color: green"
                        >(109 reviews)</small
                      >
                    </div>
          
                    <div class="productDescription py-2">
                      <p>
                       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse consectetur omnis maxime distinctio reiciendis quas debitis ratione eveniet rerum rem exercitationem numquam dignissimos illo laboriosam quis, natus totam! Nam, dignissimos.
                      </p>
                    </div>
                    <div class="stockBadge"></div>
                    <div class="price-container d-flex gap-2 align-items-end">
                      <h4 class="productPrize mb-0">₹258.00</h4>
                      <h5 class="discountPrice mb-0">₹125.00</h5>
                      <span class="discountPercentage">40.0%</span>
                    </div>
                    <div class="netWeightContainer">
                      
                    </div>
                    <div class="quantityContainer d-flex gap-2 align-items-center">
                      <span>Quantity </span>
                      <div class="input-group input-spinner my-3">
                         <input type="button" value="-" class="button-minus btn btn-sm" >
                         <input type="text" value="1" name="quantity" class=" form-control-sm form-input">
                         <input type="button" value="+" class="button-plus btn btn-sm" >
                      </div>
                    </div>
                    <button class="btn btn-sm buyNow-btn">
                      <i class="bi bi-bag-check-fill"></i> By Now
                    </button>
                    <button class="btn btn-sm bg-light-btn" style="width: 225px;"><i class="bi bi-cart-plus"></i> Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="productDetailsTabs mt-4">
                  <ul class="nav nav-pills border-bottom" id="myTab" role="tablist">
                           
                              <li class="nav-item" role="presentation">
                                 <button class="nav-link active" id="product-tab" data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane" aria-selected="true">
                                    Product Information
                                 </button>
                              </li>
                              
                              <li class="nav-item" role="presentation">
                                 <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews-tab-pane" type="button" role="tab" aria-controls="reviews-tab-pane" aria-selected="false" tabindex="-1">
                                    Reviews
                                 </button>
                              </li>
                            
                  </ul>
                  <div class="tab-content p-3" id="myTabContent">
                              <!-- tab pane -->
                              <div class="tab-pane fade active show" id="product-tab-pane" role="tabpanel" aria-labelledby="product-tab" tabindex="0">
                                 <div class="my-8">
                                    <div class="mb-5">
                                       <!-- text -->
                                       <h6 class="mb-1">Nutrient Value &amp; Benefits</h6>
                                       <p class="mb-0">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, tellus iaculis urna bibendum in lacus, integer. Id imperdiet vitae varius sed magnis eu nisi nunc
                                          sit. Vel, varius habitant ornare ac rhoncus. Consequat risus facilisis ante ipsum netus risus adipiscing sagittis sed. Lorem ipsum dolor sit amet, consectetur
                                          adipiscing elit.
                                       </p>
                                    </div>
                                    <div class="mb-5">
                                       <h6 class="mb-1">Storage Tips</h6>
                                       <p class="mb-0">
                                          Nisi, tellus iaculis urna bibendum in lacus, integer. Id imperdiet vitae varius sed magnis eu nisi nunc sit. Vel, varius habitant ornare ac rhoncus. Consequat risus
                                          facilisis ante ipsum netus risus adipiscing sagittis sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                       </p>
                                    </div>
                                    <!-- content -->
                                 
                                    <div>
                                       <h6 class="mb-1">Disclaimer</h6>
                                       <p class="mb-0">
                                          Image shown is a representation and may slightly vary from the actual product. Every effort is made to maintain accuracy of all information displayed.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              
                              <!-- tab pane -->
                              <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab" tabindex="0">
                                 <div class="row">
                                       <div class="col-md-4">
                                          <div class="me-lg-12 mb-6 mb-md-0">
                                             <div class="mb-5">
                                                <!-- title -->
                                                <h4 class="mb-3">Customer reviews</h4>
                                                <span>
                                                   <!-- rating -->
                                                   <small class="text-warning">
                                                      <i class="bi bi-star-fill"></i>
                                                      <i class="bi bi-star-fill"></i>
                                                      <i class="bi bi-star-fill"></i>
                                                      <i class="bi bi-star-fill"></i>
                                                      <i class="bi bi-star-half"></i>
                                                   </small>
                                                   <span class="ms-3">4.1 out of 5</span>
                                                   <small class="ms-3">11,130 global ratings</small>
                                                </span>
                                             </div>
                                             <div class="mb-8">
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                   <div class="text-nowrap me-3 text-muted">
                                                      <span class="d-inline-block align-middle text-muted">5</span>
                                                      <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                   </div>
                                                   <div class="w-100">
                                                      <div class="progress" style="height: 6px">
                                                         <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                   </div>
                                                   <span class="text-muted ms-3">53%</span>
                                                </div>
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                   <div class="text-nowrap me-3 text-muted">
                                                      <span class="d-inline-block align-middle text-muted">4</span>
                                                      <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                   </div>
                                                   <div class="w-100">
                                                      <div class="progress" style="height: 6px">
                                                         <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50"></div>
                                                      </div>
                                                   </div>
                                                   <span class="text-muted ms-3">22%</span>
                                                </div>
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                   <div class="text-nowrap me-3 text-muted">
                                                      <span class="d-inline-block align-middle text-muted">3</span>
                                                      <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                   </div>
                                                   <div class="w-100">
                                                      <div class="progress" style="height: 6px">
                                                         <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="35"></div>
                                                      </div>
                                                   </div>
                                                   <span class="text-muted ms-3">14%</span>
                                                </div>
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                   <div class="text-nowrap me-3 text-muted">
                                                      <span class="d-inline-block align-middle text-muted">2</span>
                                                      <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                   </div>
                                                   <div class="w-100">
                                                      <div class="progress" style="height: 6px">
                                                         <div class="progress-bar bg-warning" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="22"></div>
                                                      </div>
                                                   </div>
                                                   <span class="text-muted ms-3">5%</span>
                                                </div>
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                   <div class="text-nowrap me-3 text-muted">
                                                      <span class="d-inline-block align-middle text-muted">1</span>
                                                      <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                   </div>
                                                   <div class="w-100">
                                                      <div class="progress" style="height: 6px">
                                                         <div class="progress-bar bg-warning" role="progressbar" style="width: 14%" aria-valuenow="14" aria-valuemin="0" aria-valuemax="14"></div>
                                                      </div>
                                                   </div>
                                                   <span class="text-muted ms-3">7%</span>
                                                </div>
                                             </div>
                                             <div class="d-grid">
                                                <h4>Review this product</h4>
                                                <p class="mb-0">Share your thoughts with other customers.</p>
                                                <a href="#" class="btn btn-outline-gray-400 mt-4 text-muted">Write the Review</a>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- col -->
                                       <div class="col-md-8">
                                          <div class="mb-10">
                                             <div class="d-flex justify-content-between align-items-center mb-8">
                                                <div>
                                                   <!-- heading -->
                                                   <h4>Reviews</h4>
                                                </div>
                                                <div>
                                                   <select class="form-select">
                                                      <option selected="">Top Reviews</option>
                                                      <option value="Most Recent">Most Recent</option>
                                                   </select>
                                                </div>
                                             </div>
                                             <div class="d-flex border-bottom pb-6 mb-6">
                                                <!-- img -->
                                                <!-- img -->
                                                <img src="../../../assets/images/user.png" class="userImageReview" alt="" >
                                                <div class="ms-5">
                                                   <h6 class="mb-1">Shankar Subbaraman</h6>
                                                   <!-- select option -->
                                                   <!-- content -->
                                                   <p class="small">
                                                      <span class="text-muted">30 December 2022</span>
                                                     
                                                   </p>
                                                   <!-- rating -->
                                                   <div class="mb-2">
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <span class="ms-3 text-dark fw-bold">Need to recheck the weight at delivery point</span>
                                                   </div>
                                                   <!-- text-->
                                                   <p>
                                                      Product quality is good. But, weight seemed less than 1kg. Since it is being sent in open package, there is a possibility of pilferage in between.
                                                      FreshCart sends the veggies and fruits through sealed plastic covers and Barcode on the weight etc. .
                                                   </p>
                                                   
                                                   <!-- icon -->
                                                   <div class="d-flex justify-content-end mt-4">
                                                      <a href="#" class="text-muted">
                                                         <i class="feather-icon icon-thumbs-up me-1"></i>
                                                         Helpful
                                                      </a>
                                                      <a href="#" class="text-muted ms-4">
                                                         <i class="feather-icon icon-flag me-2"></i>
                                                         Report 
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="d-flex border-bottom pb-6 mb-6 pt-4">
                                                <!-- img -->
                                                <img src="../../../assets/images/user.png" class="userImageReview" alt="" >
                                                <div class="ms-5">
                                                   <h6 class="mb-1">Robert Thomas</h6>
                                                   <!-- content -->
                                                   <p class="small">
                                                      <span class="text-muted">29 December 2022</span>
                                                   </p>
                                                   <!-- rating -->
                                                   <div class="mb-2">
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star text-warning"></i>
                                                      <span class="ms-3 text-dark fw-bold">Need to recheck the weight at delivery point</span>
                                                   </div>
          
                                                   <p>
                                                      Product quality is good. But, weight seemed less than 1kg. Since it is being sent in open package, there is a possibility of pilferage in between.
                                                      FreshCart sends the veggies and fruits through sealed plastic covers and Barcode on the weight etc. .
                                                   </p>
          
                                                   <!-- icon -->
                                                   <div class="d-flex justify-content-end mt-4">
                                                      <a href="#" class="text-muted">
                                                         <i class="feather-icon icon-thumbs-up me-1"></i>
                                                         Helpful
                                                      </a>
                                                      <a href="#" class="text-muted ms-4">
                                                         <i class="feather-icon icon-flag me-2"></i>
                                                         Report 
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="d-flex border-bottom pb-6 mb-6 pt-4">
                                                <!-- img -->
                                                <img src="../../../assets/images/user.png" class="userImageReview" alt="" >
                                                <div class="ms-5">
                                                   <h6 class="mb-1">Barbara Tay</h6>
                                                   <!-- content -->
                                                   <p class="small">
                                                      <span class="text-muted">28 December 2022</span>
                                                   </p>
                                                   <!-- rating -->
                                                   <div class="mb-2">
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star text-warning"></i>
                                                      <span class="ms-3 text-dark fw-bold">Need to recheck the weight at delivery point</span>
                                                   </div>
          
                                                   <p>Everytime i ordered from fresh i got greenish yellow bananas just like i wanted so go for it , its happens very rare that u get over riped ones.</p>
          
                                                   <!-- icon -->
                                                   <div class="d-flex justify-content-end mt-4">
                                                      <a href="#" class="text-muted">
                                                         <i class="feather-icon icon-thumbs-up me-1"></i>
                                                         Helpful
                                                      </a>
                                                      <a href="#" class="text-muted ms-4">
                                                         <i class="feather-icon icon-flag me-2"></i>
                                                         Report 
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="d-flex border-bottom pb-6 mb-6 pt-4">
                                                <!-- img -->
                                                <img src="../assets/images/avatar/avatar-8.jpg" alt="" class="rounded-circle avatar-lg">
                                                <div class="ms-5 flex-grow-1">
                                                   <h6 class="mb-1">Sandra Langevin</h6>
                                                   <!-- content -->
                                                   <p class="small">
                                                      <span class="text-muted">8 December 2022</span>
                                                      <span class="text-danger ms-3 fw-bold">Unverified Purchase</span>
                                                   </p>
                                                   <!-- rating -->
                                                   <div class="mb-2">
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star-fill text-warning"></i>
                                                      <i class="bi bi-star text-warning"></i>
                                                      <span class="ms-3 text-dark fw-bold">Great product</span>
                                                   </div>
          
                                                   <p>Great product &amp; package. Delivery can be expedited.</p>
          
                                                   <!-- icon -->
                                                   <div class="d-flex justify-content-end mt-4">
                                                      <a href="#" class="text-muted">
                                                         <i class="feather-icon icon-thumbs-up me-1"></i>
                                                         Helpful
                                                      </a>
                                                      <a href="#" class="text-muted ms-4">
                                                         <i class="feather-icon icon-flag me-2"></i>
                                                         Report abuse
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>
                                             <div>
                                                <a href="#" class="btn btn-outline-gray-400 text-muted">Read More Reviews</a>
                                             </div>
                                          </div>
                                         
                                       </div>
                                    </div>
                              </div>
                           </div>
              </div>
        </div>
    </div>
   
    
</div>