<div class="main-container">
    <div class="row ">
        <div class="col-xl-3 order-sm-2 order-md-2 order-lg-1">
            <aside>
                <div class="category-menu p-3">
                    <div class="position-relative mb-4">
                        <h5 class="sectionTitle pb-3">All Categories</h5>
                    </div>

                    <ul class="p-0">
                        <li class="category-menu-item">
                            Chaakri - Khakhras & Savories <span class="count">35</span>
                        </li>
                        <li class="category-menu-item">
                            Devinite - Chocolate <span class="count">35</span>
                        </li>
                        <li class="category-menu-item">
                            All Things Yum <span class="count">35</span>
                        </li>
                        <li class="category-menu-item">
                            Puro - Body & Soul <span class="count">35</span>
                        </li>
                    </ul>
                </div>
                <div class="category-menu p-3 mt-3">
                    <div class="position-relative mb-4">
                        <h5 class="sectionTitle pb-3">New Products</h5>
                    </div>

                    <ul class="p-0">
                        <li class="singleProductItem d-flex gap-2 mb-1 p-2">
                            <img src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-075.jpg" alt="">
                            <div class="productInfo">
                                <h6 class="font-weight-600 mb-0" style="color: var(--secondary-col)">Product Name</h6>
                                <div class="rating">
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star nonRated"></i>
                                    <i class="bi bi-star nonRated"></i>
                                </div>
                                <div class="text-muted">$12.00</div>
                            </div>
                        </li>
                        <li class="singleProductItem d-flex gap-2 mb-1 p-2">
                            <img src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-077.jpg" alt="">
                            <div class="productInfo">
                                <h6 class="font-weight-600 mb-0" style="color: var(--secondary-col)">Product Name</h6>
                                <div class="rating">
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star nonRated"></i>
                                    <i class="bi bi-star nonRated"></i>
                                </div>
                                <div class="text-muted">$12.00</div>
                            </div>
                        </li>
                        <li class="singleProductItem d-flex gap-2 mb-1 p-2">
                            <img src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-075.jpg" alt="">
                            <div class="productInfo">
                                <h6 class="font-weight-600 mb-0" style="color: var(--secondary-col)">Product Name</h6>
                                <div class="rating">
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star nonRated"></i>
                                    <i class="bi bi-star nonRated"></i>
                                </div>
                                <div class="text-muted">$12.00</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="offerBanner">
                    <div class="offerBannerText p-3 ">
                        <p class="font-weight-600 mt-4">Body & Soul</p>
                        <h5>Save 17% on <br> bath and body products</h5>

                    </div>
                </div>
            </aside>
        </div>
        <div class="col-xl-9 order-sm-1 order-md-1 order-lg-2">
            <div class="row border p-3 rounded">
                <div class="col-lg-4 ps-0">
                    <div class="tab-content" id="preview-thumbnail">
                        <div class="tab-pane fade show active" id="pic1-tab-pane" role="tabpanel"
                            aria-labelledby="pic1-tab" tabindex="0">
                            <img class="preview-thumbnail-img"
                                src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-023.jpg" />
                        </div>
                        <div class="tab-pane fade" id="pic2-tab-pane" role="tabpanel" aria-labelledby="pic2-tab"
                            tabindex="0">
                            <img class="preview-thumbnail-img"
                                src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-044.jpg" />
                        </div>
                        <div class="tab-pane fade" id="pic3-tab-pane" role="tabpanel" aria-labelledby="pic3-tab"
                            tabindex="0">
                            <img class="preview-thumbnail-img"
                                src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-049.jpg" />
                        </div>
                    </div>
                    <ul class="nav nav-tabs border-0 preview-pic justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <span class="nav-link active" id="pic1-tab" data-bs-toggle="tab"
                                data-bs-target="#pic1-tab-pane" type="button" role="tab" aria-controls="pic1-tab-pane"
                                aria-selected="true">
                                <img src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-023.jpg" />
                            </span>
                        </li>
                        <li class="nav-item" role="presentation">
                            <span class="nav-link" id="pic2-tab" data-bs-toggle="tab" data-bs-target="#pic2-tab-pane"
                                type="button" role="tab" aria-controls="pic2-tab-pane" aria-selected="false">
                                <img src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-044.jpg" />
                            </span>
                        </li>
                        <li class="nav-item" role="presentation">
                            <span class="nav-link" id="pic3-tab" data-bs-toggle="tab" data-bs-target="#pic3-tab-pane"
                                type="button" role="tab" aria-controls="pic3-tab-pane" aria-selected="false">
                                <img src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-049.jpg" />
                            </span>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="productDetail">
                        <span class="category">Roasted Crispies</span>
                        <h2 class="productName mt-2">Product Name Title Here</h2>

                        <div class="d-flex gap-2 align-item-center">
                            <div class="rating">
                                <i class="bi bi-star-fill rated"></i>
                                <i class="bi bi-star-fill rated"></i>
                                <i class="bi bi-star-fill rated"></i>
                                <i class="bi bi-star nonRated"></i>
                                <i class="bi bi-star nonRated"></i>
                            </div>
                            <small style="margin-top: 3px; color: green">(109 reviews)</small>
                        </div>

                        <div class="productDescription py-2">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse consectetur omnis maxime
                                distinctio reiciendis quas debitis ratione eveniet rerum rem exercitationem numquam
                                dignissimos illo laboriosam quis, natus totam! Nam, dignissimos.
                            </p>
                        </div>
                        <div class="stockBadge"></div>
                        <div class="price-container d-flex gap-2 align-items-end">
                            <h4 class="productPrize mb-0">₹258.00</h4>
                            <h5 class="discountPrice mb-0">₹125.00</h5>
                            <span class="discountPercentage">40.0%</span>
                        </div>
                        <div class="netWeightContainer">

                        </div>
                        <div class="quantityContainer d-flex gap-2 align-items-center">
                            <span>Quantity </span>
                            <div class="input-group input-spinner my-3">
                                <input type="button" value="-" class="button-minus btn btn-sm">
                                <input type="text" value="1" name="quantity" class=" form-control-sm form-input">
                                <input type="button" value="+" class="button-plus btn btn-sm">
                            </div>
                        </div>
                        <button class="btn btn-sm buyNow-btn">
                            <i class="bi bi-bag-check-fill"></i> By Now
                        </button>
                        <button class="btn btn-sm bg-light-btn" style="width: 225px;"><i class="bi bi-cart-plus"></i>
                            Add To Cart</button>
                    </div>
                </div>
            </div>
            <div class="productDetailsTabs mt-5">
                <ul class="nav nav-pills border-bottom" id="myTab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="product-tab" data-bs-toggle="tab"
                            data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane"
                            aria-selected="true">
                            Product Information
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="reviews-tab" data-bs-toggle="tab"
                            data-bs-target="#reviews-tab-pane" type="button" role="tab" aria-controls="reviews-tab-pane"
                            aria-selected="false" tabindex="-1">
                            Reviews(3)
                        </button>
                    </li>

                </ul>
                <div class="tab-content p-3" id="myTabContent">
                    <!-- tab pane -->
                    <div class="tab-pane fade active show" id="product-tab-pane" role="tabpanel"
                        aria-labelledby="product-tab" tabindex="0">
                        <div class="my-8">
                            <div class="mb-3">
                                <!-- text -->
                                <h6 class="mb-1 font-weight-600">Nutrient Value &amp; Benefits</h6>
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, tellus iaculis urna
                                    bibendum in lacus, integer. Id imperdiet vitae varius sed magnis eu nisi nunc
                                    sit. Vel, varius habitant ornare ac rhoncus. Consequat risus facilisis ante ipsum
                                    netus risus adipiscing sagittis sed. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.
                                </p>
                            </div>
                            <div class="mb-3">
                                <h6 class="mb-1 font-weight-600">Storage Tips</h6>
                                <p class="mb-0">
                                    Nisi, tellus iaculis urna bibendum in lacus, integer. Id imperdiet vitae varius sed
                                    magnis eu nisi nunc sit. Vel, varius habitant ornare ac rhoncus. Consequat risus
                                    facilisis ante ipsum netus risus adipiscing sagittis sed.Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.
                                </p>
                            </div>
                            <!-- content -->

                            <div>
                                <h6 class="mb-1 font-weight-600">Disclaimer</h6>
                                <p class="mb-0">
                                    Image shown is a representation and may slightly vary from the actual product. Every
                                    effort is made to maintain accuracy of all information displayed.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- tab pane -->
                    <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab"
                        tabindex="0">
                        <div class="row">
                            <!-- col -->
                            <div class="col-lg-8 ">
                                <div class="mb-10">
                                    <div class="d-flex justify-content-between align-items-center mb-8">
                                        <!-- heading -->
                                        <h5 class="pb-3">Reviews</h5>
                                    </div>
                                    <div class="d-flex border-bottom p-3 mb-3">
                                        <!-- img -->
                                        <!-- img -->
                                        <img src="../../../assets/images/user.png" class="userImageReview" alt="">
                                        <div class="ms-2 w-100">
                                            <h6 class="mb-1">Shankar Subbaraman</h6>

                                            <!-- content -->
                                            <p class="small mb-0"> <span class="text-muted">30 December 2022</span></p>
                                            <!-- rating -->
                                            <div class="rating">
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star nonRated"></i>
                                                <i class="bi bi-star nonRated"></i>
                                            </div>
                                            <!-- text-->
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore at
                                                placeat assumenda porro veniam accusantium facere inventore, veritatis
                                                quas illum quidem iusto sit tempora ipsum libero ab similique doloremque
                                                pariatur?
                                            </p>

                                            <!-- icon -->
                                            <div class="d-flex justify-content-end mt-1">
                                                <a href="#" class="text-muted">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                    Helpful
                                                </a>
                                             
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom p-3 mb-3">
                                        <!-- img -->
                                        <!-- img -->
                                        <img src="../../../assets/images/user.png" class="userImageReview" alt="">
                                        <div class="ms-2 w-100">
                                            <h6 class="mb-1">Shankar Subbaraman</h6>

                                            <!-- content -->
                                            <p class="small mb-0"> <span class="text-muted">30 December 2022</span></p>
                                            <!-- rating -->
                                            <div class="rating">
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star nonRated"></i>
                                                <i class="bi bi-star nonRated"></i>
                                            </div>
                                            <!-- text-->
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore at
                                                placeat assumenda porro veniam accusantium facere inventore, veritatis
                                                quas illum quidem iusto sit tempora ipsum libero ab similique doloremque
                                                pariatur?
                                            </p>

                                            <!-- icon -->
                                            <div class="d-flex justify-content-end mt-1">
                                                <a href="#" class="text-muted">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                    Helpful
                                                </a>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom p-3 mb-3">
                                        <!-- img -->
                                        <!-- img -->
                                        <img src="../../../assets/images/user.png" class="userImageReview" alt="">
                                        <div class="ms-2 w-100">
                                            <h6 class="mb-1">Shankar Subbaraman</h6>

                                            <!-- content -->
                                            <p class="small mb-0"> <span class="text-muted">30 December 2022</span></p>
                                            <!-- rating -->
                                            <div class="rating">
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star nonRated"></i>
                                                <i class="bi bi-star nonRated"></i>
                                            </div>
                                            <!-- text-->
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore at
                                                placeat assumenda porro veniam accusantium facere inventore, veritatis
                                                quas illum quidem iusto sit tempora ipsum libero ab similique doloremque
                                                pariatur?
                                            </p>

                                            <!-- icon -->
                                            <div class="d-flex justify-content-end mt-1">
                                                <a href="#" class="text-muted">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                    Helpful
                                                </a>
                                               
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <a href="#" class="btn btn-outline-gray-400 text-muted">Read More Reviews</a>
                                    </div>
                                </div>

                            </div>

                            <!-- col -->
                            <div class="col-md-6 col-lg-4">
                                <div class="me-lg-12 mb-6 mb-md-0">
                                    <div class="mb-3">
                                        <!-- title -->
                                        <h5 class="">Customer Rating</h5>
                                        <span>
                                            <!-- rating -->
                                            <span class="rating">
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star-fill rated"></i>
                                                <i class="bi bi-star nonRated"></i>
                                                <i class="bi bi-star nonRated"></i>
                                            </span>
                                            <span class="ms-2 text-muted">(4.1 out of 5)</span>
                                        </span>
                                    </div>
                                    <div class="customerReview">
                                        <!-- progress -->
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="text-nowrap me-3 text-muted">
                                                <span class="d-inline-block align-middle text-muted">5</span>
                                                <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <span class="text-muted ms-3">53%</span>
                                        </div>
                                        <!-- progress -->
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="text-nowrap me-3 text-muted">
                                                <span class="d-inline-block align-middle text-muted">4</span>
                                                <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="50"></div>
                                                </div>
                                            </div>
                                            <span class="text-muted ms-3">22%</span>
                                        </div>
                                        <!-- progress -->
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="text-nowrap me-3 text-muted">
                                                <span class="d-inline-block align-middle text-muted">3</span>
                                                <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: 35%" aria-valuenow="35" aria-valuemin="0"
                                                        aria-valuemax="35"></div>
                                                </div>
                                            </div>
                                            <span class="text-muted ms-3">14%</span>
                                        </div>
                                        <!-- progress -->
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="text-nowrap me-3 text-muted">
                                                <span class="d-inline-block align-middle text-muted">2</span>
                                                <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: 22%" aria-valuenow="22" aria-valuemin="0"
                                                        aria-valuemax="22"></div>
                                                </div>
                                            </div>
                                            <span class="text-muted ms-3">5%</span>
                                        </div>
                                        <!-- progress -->
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="text-nowrap me-3 text-muted">
                                                <span class="d-inline-block align-middle text-muted">1</span>
                                                <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: 14%" aria-valuenow="14" aria-valuemin="0"
                                                        aria-valuemax="14"></div>
                                                </div>
                                            </div>
                                            <span class="text-muted ms-3">7%</span>
                                        </div>
                                    </div>
                                    <div class="addReviewBanner mt-4 p-3">
                                        <h5>Review this product</h5>
                                        <p>Your insights help us to continually improve our products and services. Share
                                            your thoughts with other customers.</p>
                                        <a href="#" class="btn btn-gm btn-primary">Write Review</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>