<app-page-header Heading="Quote Suggestions" [Description]="'Item suggestion list'">
    <select name="" id="">
        <option value="">Events</option>
        <option value="">Events</option>
        <option value="">Events</option>
        <option value="">Events</option>
    </select>
    <input type="number" class="form-control form-control-sm">
    <div class="btn btn-sm btn-primary" (click)="loadList()">Submit</div>
</app-page-header>

<div class="row mt-3">

    <div class="col-md-3">
    
        <div class="card">
            <h5 class="card-header">Combo 1 - ₹1499/-</h5>
            <div class="card-body"> 
                <ul>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                </ul>
             
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-3">
    
        <div class="card">
            <h5 class="card-header">Combo 1 - ₹1499/-</h5>
            <div class="card-body"> 
                <ol>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                </ol>
             
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-3">
    
        <div class="card">
            <h5 class="card-header">Combo 1 - ₹1499/-</h5>
            <div class="card-body"> 
                <ul>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                </ul>
             
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-3">
    
        <div class="card">
            <h5 class="card-header">Combo 1 - ₹1499/-</h5>
            <div class="card-body"> 
                <ul>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                </ul>
             
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-3">
    
        <div class="card">
            <h5 class="card-header">Combo 1 - ₹1499/-</h5>
            <div class="card-body"> 
                <ul>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                    <li>Item 1 - ₹499/-</li>
                </ul>
             
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
