<app-page-header Heading="Quote Suggestions" [Description]="'Item suggestion list'">
    <select name="" id="" class="form-select form-select-sm">
        <option value="">Events</option>
        <option value="">Events</option>
        <option value="">Events</option>
        <option value="">Events</option>
    </select>
    <input type="number" class="form-control form-control-sm">
    <div class="btn btn-sm btn-primary" (click)="loadList()">Submit</div>
</app-page-header>
<div class="suggestions">
    <div class="row ">

        
        <div class="col-md-3 mt-3">
            <div class="card " style="border-radius: 0%;">
                <div class="card-header">
                    <div class="d-flex justify-content-between ">
                        <h5 class="mb-0 font-weight-600">Combo 1
                            
                             <span class="editcomboName"><i class="bi bi-pencil"></i></span>
                        </h5>
                        <h5 class="mb-0 font-weight-600">₹1499</h5>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="p-0 mb-0 comboItemList">
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 1</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 2</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 3</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 4</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        
    
    
                    </ul>
                    <button class="btn btn-primary btn-sm mt-3">Add To Combo Master</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card " style="border-radius: 0%;">
                <div class="card-header">
                    <div class="d-flex justify-content-between ">
                        <h5 class="mb-0 font-weight-600">Combo 1 <span class="editcomboName"><i class="bi bi-pencil"></i></span></h5>
                        <h5 class="mb-0 font-weight-600">₹1499</h5>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="p-0 mb-0 comboItemList">
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 1</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 2</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 3</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 4</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        
    
    
                    </ul>
                    <button class="btn btn-primary btn-sm mt-3">Add To Combo Master</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card " style="border-radius: 0%;">
                <div class="card-header">
                    <div class="d-flex justify-content-between ">
                        <h5 class="mb-0 font-weight-600">Combo 1 <span class="editcomboName"><i class="bi bi-pencil"></i></span></h5>
                        <h5 class="mb-0 font-weight-600">₹1499</h5>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="p-0 mb-0 comboItemList">
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 1</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 2</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 3</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        <li class="comboList">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Combo 4</h6>
                                <h6 class="mb-0">₹1499</h6>
                            </div>
                        </li>
                        
    
    
                    </ul>
                    <button class="btn btn-primary btn-sm mt-3">Add To Combo Master</button>
                </div>
            </div>
        </div>
      
       
   
    </div>
</div>