<div class="row">
  <div class="col-lg-3">
    <div class="comboDetailCard shadow  p-3">
      <div class="cardHeader mb-3">
        <img
          src="../../../assets/images/products/Catelogue_240805_234540.pdf-image-030.jpg"
          class="w-100"
        />
      </div>

      <div class="cardBody">
        <h6 class="mb-2">Combo Name</h6>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. consequatur
          accusamus iste quibusdam. Modi, minima culpa! Culpa, esse!
        </p>
         <ul class="p-0">
                <li class="d-flex justify-content-between align-item-center border-bottom my-3 pb-3">
                    <h6 class="mb-0 font-weight-600">Packaging</h6> <p class="mb-0 text-muted">Golden Cap Bottle</p>
                </li>
                <li class="d-flex justify-content-between align-item-center border-bottom my-3 pb-3">
                    <h6 class="mb-0 font-weight-600">Total price</h6> <p class="mb-0 text-muted">₹ 1452.00</p>
                </li>
               
                <li class="d-flex justify-content-between align-item-center border-bottom my-3 pb-3">
                    <h6 class="mb-0 font-weight-600">Total Products </h6> <p class="mb-0 text-muted">5</p>
                </li>

               
            </ul> 
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <h6>Item List</h6>
    <div class="comboItemCard border-bottom pb-3">
      <div class="d-flex">
        <div >
          <img
            src="../../../../assets/images/products/Catelogue_240805_234540.pdf-image-016.jpg"
            class=""
            alt="..."
          />
        </div>
        <div class="px-3">
          <div class="card-body">
            <h6 class="card-title">Combo Item Name</h6>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            
              <div class="row">
                <div class="col-lg-3">
                    <small class="text-muted">Price</small>
                    <p class="mb-0">235</p>
                </div>
                <div class="col-lg-3">
                    <small class="text-muted">Packaing</small>
                    <p class="mb-0">Bottle</p>
                </div>
                <div class="col-lg-3">
                    <small class="text-muted">Size</small>
                    <p class="mb-0">32 ml</p>
                </div>
                <div class="col-lg-3">
                    <small class="text-muted">Quantity</small>
                    <p class="mb-0">32</p>
                </div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
