<app-page-header Heading="Manage Role">
    <div class="btn btn-sm btn-primary" (click)="openRoleForm()">Add New Role</div>
</app-page-header>

<div>
    <app-pagination [EnablePageSize]="true" [rowData]="roleList"
        (pageSizeChanged)="handlePageSizeChange($event)"></app-pagination>

    <div class="tablebody border" style="min-height: 530px;">
        <table class="dataTable">
            <thead>
                <tr>
                    <th style="width:2%">Sr No</th>
                    <th style="width:21%">Role Name</th>
                    <th style="width:22%">Code</th>
                    <th style="width:22%">Description</th>
                    <th style="width:8%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList; let i=index">
                    <td class="text-center">{{i+1}}</td>
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            {{role.roleName}}
                        </div>
                    </td>
                    <td>{{role.roleCode}}</td>
                    <td>{{role.roleDesc}}</td>
                    <td>
                        <div class="dataTableicon d-flex align-items-center justify-content-around">
                            <a class="bi bi-trash" (click)="deleteRole(role)"></a>
                            <a class="bi bi-pen" (click)="openEditRoleForm(role)"></a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>


    </div>
    <app-pagination [EnableNavigation]="true" [rowData]="roleList"
        (pageSizeChanged)="handlePageSizeChange($event)"></app-pagination>
</div>



<ng-template #roleForm>
    <div class="modal-header">
        <h6 class="modal-title font-weight-600">Add New Item</h6>
        <button type="button" class="btn-close" (click)="roleFormModal.close()"></button>
    </div>
    <div class="modal-body">
        <form class="container">
            <div class="row" [formGroup]="RoleForm">
                <!-- <div class="col-md-12">
                    <input type="file" id="fileInput" accept="image/*">
                    <img id="preview" alt="Image Preview">
                </div> -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Role Name <span style="color: red;">*</span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="roleName">
                        <div class="text-danger"
                        *ngIf="(RoleForm.get('roleName')?.touched && RoleForm.get('roleName')?.invalid )">
                        <ng-container *ngIf="RoleForm.get('roleName')?.errors">
                            <ng-container *ngIf="RoleForm.get('roleName')?.errors?.['required']">Input field is
                                required</ng-container>
                            <ng-container
                                *ngIf="!RoleForm.get('roleName')?.errors?.['required'] && RoleForm.get('roleName')?.errors?.['whitespace']">No
                                empty spaces allowed</ng-container>
                            <ng-container
                                *ngIf="!RoleForm.get('roleName')?.errors?.['required'] && !RoleForm.get('roleName')?.errors?.['whitespace'] && RoleForm.get('roleName')?.errors?.['minlength']">Minimum
                                characters required</ng-container>
                        </ng-container>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Role Code</label>
                        <input type="text" class="form-control form-control-sm" formControlName="roleCode">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Description</label>
                        <textarea type="text" class="form-control" rows="6" formControlName="roleDesc"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary me-2" (click)="roleFormModal.close()">Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="submitForm()">Save changes</button>
    </div>
</ng-template>