<div class="dashboard-container">
    <aside class="sidebar">
        <div class="logo">
            <img src="../../../assets/images/sanisaLogo.png" alt="">
        </div>
        <ul class="nav-links">
            <li><a href="#" class="active">Dashboard</a></li>
            <li><a href="#">Volunteers</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Notifications</a></li>
        </ul>
    </aside>
    
    <main class="main-content">
        <header class="header">
            <div class="content">
                <h5>Products</h5>
                <p>Add and manage products ...</p>
            </div>
            <div class="profile">
                <span>Otar John</span>
                <img src="profile.jpg" alt="Profile Picture" class="profile-pic">
                <span class="dropdown">Admin</span>
            </div>
        </header>
       
    </main>
</div>