<app-page-header Heading="Manage Kit">
    <div class="btn btn-sm btn-primary" (click)="openKitForm()">Add New Kit</div>
</app-page-header>

<div>
    <app-pagination [EnablePageSize]="true" [rowData]="kitList"
        (pageSizeChanged)="handlePageSizeChange($event)"></app-pagination>

    <div class="tablebody border" style="min-height: 530px;">
        <table class="dataTable" *ngIf="!loading">
            <thead>
                <tr>
                    <th style="width:2%">Sr No</th>
                    <th style="width:12%">Kit Name</th>
                    <!-- <th style="width:21%">Image</th> -->
                    <th style="width:18%">Code</th>
                    <th style="width:18%">Description</th>
                    <th style="width:18%">Price</th>
                    <th style="width:8%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let kit of kitList; let i=index">
                    <td class="text-center">{{i+1}}</td>
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            <!-- <div class="usericonBox" style="background-color: #572196; color: #fff;">
                                dsfd</div> -->



                            {{kit.kName}}
                        </div>
                    </td>
                    <!-- <td>
                        <div class="w-100 text-center">
                            <img src="../../../assets/images/kitReference.png" alt="" width="150px">
                        </div>
                    </td> -->
                    <td>{{kit.kCode}}</td>
                    <td>{{kit.kDescription}}</td>
                    <td>{{kit.price|currency:'INR':'symbol':'1.2-2'}}</td>
                    <td>
                        <div class="dataTableicon d-flex align-items-center justify-content-around">
                            <a class="bi bi-trash" (click)="deleteKit(kit)"></a>
                            <a class="bi bi-eye" [routerLink]="['./'+kit.kitId]"></a>
                            <a class="bi bi-pen" (click)="openEditKitForm(kit)"></a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center" style="height:500px" *ngIf="loading">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <span class="status">Loading...</span>

        </div>


    </div>
    <app-pagination [EnableNavigation]="true" [rowData]="kitList"
        (pageSizeChanged)="handlePageSizeChange($event)"></app-pagination>
</div>



<ng-template #kitForm>
    <div class="modal-header">
        <h6 class="modal-title font-weight-600">Add New Item</h6>
        <button type="button" class="btn-close" (click)="kitFormModal.close()"></button>
    </div>
    <div class="modal-body">
        <form class="container">
            <div class="row" [formGroup]="KitForm">
                <!-- <div class="col-md-12">
                    <input type="file" id="fileInput" accept="image/*">
                    <img id="preview" alt="Image Preview">
                </div> -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Kit Name <span style="color: red;">*</span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="kName">
                        <div class="text-danger"
                        *ngIf="(KitForm.get('kName')?.touched && KitForm.get('kName')?.invalid )">
                        <ng-container *ngIf="KitForm.get('kName')?.errors">
                            <ng-container *ngIf="KitForm.get('kName')?.errors?.['required']">Input field is
                                required</ng-container>
                            <ng-container
                                *ngIf="!KitForm.get('kName')?.errors?.['required'] && KitForm.get('kName')?.errors?.['whitespace']">No
                                empty spaces allowed</ng-container>
                            <ng-container
                                *ngIf="!KitForm.get('kName')?.errors?.['required'] && !KitForm.get('kName')?.errors?.['whitespace'] && KitForm.get('kName')?.errors?.['minlength']">Minimum
                                characters required</ng-container>
                        </ng-container>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Kit Code<span style="color: red;">*</span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="kCode">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Description<span style="color: red;">*</span></label>
                        <textarea type="text" class="form-control" rows="6" formControlName="kDescription"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Price<span style="color: red;">*</span></label>
                        <input type="number" class="form-control form-control-sm" formControlName="price">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary me-2" (click)="kitFormModal.close()">Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="submitForm()">Save changes</button>
    </div>
</ng-template>