<div class="container">
       <div class="row align-items-center">
        <div class="col-lg-4" >
          <div class="contactLeftSection contactBanner ">
    <div class="overlay p-4">
        <div >
            <h2>Get In Touch!</h2>
        <i>We are committed to making a positive impact in their lives and in our community. If you have any questions or would like to learn more about our work, please don't hesitate to get in touch with us.</i>

        </div>
        
    </div>
</div>


        </div>
        <div class="col-lg-8">
            <div class="sectionHeading mb-3">
                 <h5 class="font-weight-600">Send Us Message</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
            <form class="contactForm">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-4">
                            <label for="name" class="form-label">Name</label><br>
                            <input type="name" class="form-control " id="name" placeholder="Enter Your Name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-4">
                            <label for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control " id="Email" aria-describedby="emailHelp"
                                formControlName="userName" placeholder="useremail@abc.com">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-4">
                            <label for="CompanyName" class="form-label">Company Name</label><br>
                            <input type="name" class="form-control " id="CompanyName" placeholder="Enter CompanyName">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-4">
                            <label for="contact Number" class="form-label">Contact Number</label><br>
                            <input type="name" class="form-control " id="contact number"
                                placeholder="Enter Contact Number">
                        </div>
                    </div>
                    <div class="col-lg-12">
                         <div class="form-group mb-4">
                             <label for="contact Number" class="form-label">Primarily Interest In</label><br>
                        <div class="d-flex flex-wrap gap-2 contactIntrest">
                            <div class="custom-radio"><input type="radio" id="Enquiry" name="contactIntrest"
                                    value="Enquiry"><label for="Enquiry"> Enquiry</label></div>
                            <div class="custom-radio"><input type="radio" id="Donation" name="contactIntrest"
                                    value="Donation"><label for="Donation">Giving Donation</label></div>
                            <div class="custom-radio"><input type="radio" id="applePay" name="contactIntrest"
                                    value="applePay"><label for="applePay">  Joining The Mission</label></div>
                            <div class="custom-radio"><input type="radio" id="Volunteer" name="contactIntrest"
                                    value="Volunteer"><label for="Volunteer">Volunteering</label></div>
                            <div class="custom-radio"><input type="radio" id="InvolveInProject" name="contactIntrest"
                                    value="InvolveInProject"><label for="InvolveInProject">Getting Involve in project</label></div>
                        </div>
                         </div>
                       
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group mb-4">
                            <label for="contact Number" class="form-label">Message</label>
                            <textarea name="" placeholder="Write Your Message Here...." class="form-control form-control-sm" rows="3" id=""></textarea>
                        </div>                        
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-primary mt-3">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
      <div class="row my-5">
                    <div class=" col-md-4 col-12 col-sm-6 ">
                        <div class="d-flex align-items-center border-end" >
                            <div class="banner-icon">
                                <img src="../../../assets/images/sending-mail.gif" alt="">
                            </div>
                            <div class="contact-banner-text">
                                <h6 class="icon-box-title">infosanisa.co.in</h6>
                                <p class="text-muted"> Send your inquiries us for prompt email support.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-12 col-sm-6">
                        <div class=" d-flex align-items-center border-end" >
                            <div class="banner-icon">
                                 <img src="../../../assets/images/incoming-call.gif" alt="">
                            </div>
                            <div class="banner-text">
                                <h6 class="icon-box-title">948745632</h6>
                                <p class="text-muted"> Call Us! Reach out for immediate assistance</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-12 col-sm-6">
                        <div class=" d-flex align-items-center " >
                            <div class="banner-icon">
                                <img src="../../../assets/images/location.gif" alt="">
                            </div>
                            <div class="banner-text">
                                <h6 class="icon-box-title">Wadala (West), Mumbai – 400031.</h6>
                                <p class="text-muted">Visit us at our office.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
</div>
