<app-page-header Heading="Manage Event">
    <div class="btn btn-sm btn-primary" (click)="openEventForm()">Add New Event</div>
</app-page-header>

<div>
    <!-- <app-pagination [EnablePageSize]="true" [rowData]="eventList"
        (pageSizeChanged)="handlePageSizeChange($event)"></app-pagination> -->

    <div class="tablebody border" style="min-height: 530px;">
        <table class="dataTable">
            <thead>
                <tr>
                    <th style="width:2%">Sr No</th>
                    <th style="width:21%">Event Name</th>
                    <!-- <th style="width:21%">Image</th> -->
                    <th style="width:22%">Code</th>
                    <th style="width:22%">Description</th>
                    <th style="width:8%"></th>
                </tr>
            </thead>
            <tbody *ngIf="!loading">
                <tr *ngFor="let event of eventList; let i=index">
                    <td class="text-center">{{i+1}}</td>
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            <!-- <div class="usericonBox" style="background-color: #572196; color: #fff;">
                                dsfd</div> -->



                            {{event.eventName}}
                        </div>
                    </td>
                    <!-- <td>
                        <div class="w-100 text-center">
                            <img src="../../../assets/images/eventReference.png" alt="" width="150px">
                        </div>
                    </td> -->
                    <td>{{event.eventCode}}</td>
                    <td>{{event.eventDesc}}</td>
                    <td>
                        <div class="dataTableicon d-flex align-items-center justify-content-around">
                            <a class="bi bi-trash" (click)="deleteEvent(event)"></a>
                            <a class="bi bi-eye" [routerLink]="['./'+event.eventId]"></a>
                            <a class="bi bi-pen" (click)="openEditEventForm(event)"></a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center" style="height:500px" *ngIf="loading">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <span class="status">Loading...</span>

        </div>


    </div>
    <!-- <app-pagination [EnableNavigation]="true" [rowData]="eventList"
        (pageSizeChanged)="handlePageSizeChange($event)"></app-pagination> -->
</div>



<ng-template #eventForm>
    <div class="modal-header">
        <h6 class="modal-title font-weight-600">Add New Item</h6>
        <button type="button" class="btn-close" (click)="eventFormModal.close()"></button>
    </div>
    <div class="modal-body">
        <form class="container">
            <div class="row" [formGroup]="EventForm">
                <!-- <div class="col-md-12">
                    <input type="file" id="fileInput" accept="image/*">
                    <img id="preview" alt="Image Preview">
                </div> -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Event Name <span style="color: red;">*</span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="eventName">
                        <div class="text-danger"
                        *ngIf="(EventForm.get('eventName')?.touched && EventForm.get('eventName')?.invalid )">
                        <ng-container *ngIf="EventForm.get('eventName')?.errors">
                            <ng-container *ngIf="EventForm.get('eventName')?.errors?.['required']">Input field is
                                required</ng-container>
                            <ng-container
                                *ngIf="!EventForm.get('eventName')?.errors?.['required'] && EventForm.get('eventName')?.errors?.['whitespace']">No
                                empty spaces allowed</ng-container>
                            <ng-container
                                *ngIf="!EventForm.get('eventName')?.errors?.['required'] && !EventForm.get('eventName')?.errors?.['whitespace'] && EventForm.get('eventName')?.errors?.['minlength']">Minimum
                                characters required</ng-container>
                        </ng-container>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Event Code</label>
                        <input type="text" class="form-control form-control-sm" formControlName="eventCode">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label font-sb mb-1">Description</label>
                        <textarea type="text" class="form-control" rows="6" formControlName="eventDesc"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary me-2" (click)="eventFormModal.close()">Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="submitForm()">Save changes</button>
    </div>
</ng-template>