<!-- <div class="topbar">
    <div class="container-fluid">
        <div class="d-flex gap-5 align-items-center">
           <div>
            <span class="me-2"><i class="bi bi-envelope"></i></span>
              <span>support&#64;sanisa.co.in</span>
           </div>
           <div>
            <span class="me-2"><i class="bi bi-telephone"></i></span>
              <span>+91-7977955055</span>
           </div>
        </div>  
    </div>
</div> -->
<router-outlet></router-outlet>
<app-loader></app-loader>

