<nav class="navbar stickyNav navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex align-items-center justify-content-between w-100">
    <div class="d-flex  align-items-center">
      <div class="hamburger" #hamburger (click)="toggleNav()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
      <a class="navbar-brand mblNavbarBrand pl-3" routerLink="/home">
        <img src="../../../assets/images/sanisaLogo.png" alt="">
      </a>
    </div>
    <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu megamenuDropdown border-0 shadow">
          <div class="menu">
            <div class="menu-item">
              <span class="icon"></span>
              <span class="text">Chaaakri - Khakhras & Savories</span>
            </div>
            <div class="menu-item">
              <span class="icon"></span>
              <span class="text">Devinite - Chocolate</span>
            </div>
            <div class="menu-item">
              <span class="icon"></span>
              <span class="text">All Things Yum</span>
            </div>
            <div class="menu-item">
              <span class="icon"></span>
              <span class="text">Puro - Body & Soul</span>
            </div>

          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" routerLink="/home" [routerLinkActive]="'active'" aria-current="page"
          href="#">Home</a>
      </li>

      <li class="nav-item" *ngFor="let menu of parentMenu">
        <a class="nav-link text-center" [routerLink]="menu.subRoleCode" [routerLinkActive]="'active'"
          aria-current="page" href="#">{{menu.subRoleName}}</a>
      </li>
      <li class="nav-item">
        <a class="text-center">
          <i class="bi bi-search"></i>
        </a>
      </li>
    </ul>

    <div class="d-flex gap-2 right-content align-items-center gap-3">
      <div class="position-relative">
        <i class="bi bi-cart"></i>
        <div class="cartBadge">
          <span>2</span>
        </div>
      </div>

      <div class="btn btn-sm primary-btn" [routerLink]="['/login']" *ngIf="!authService.isAuthenticated()">
        Sign In
      </div>

      <div class="dropdown" *ngIf="authService.isAuthenticated()">
        <div id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="d-flex gap-2 align-items-center">
            <i class="bi bi-person iconCircle"></i>
            <div class="user-details d-none d-sm-none d-lg-block">
              <div class="user-name">{{authService.User().userName}}</div>
              <!-- <div class="user-role">Sales Team Lead</div> -->
            </div>
          </div>
        </div>
        <div class="dropdown-menu userProfile animated--grow-in shadow-lg p-2" aria-labelledby="dropdownMenuLink">

          <div class="profile-body p-0">
            <div class="profile-option">
              <i class="bi bi-person-circle"></i>
              <span>Profile</span>
            </div>
            <div class="profile-option" [routerLink]="['/admin']">
              <i class="bi bi-gear"></i>
              <span>Setting</span>
            </div>
            <div class="profile-option">
              <i class="bi bi-info-circle"></i>
              <span>Help Centre</span>
            </div>
          </div>
          <div class="profile-footer">
            <div class="logout-option" (click)="Logout()">
              <i class="bi bi-box-arrow-right"></i>
              <span>Logout</span>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>


</nav>
<div #navbar class="menubar">

  <ul class="p-0">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user" href="#">About Us</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/">Client</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Testimonial</a>
    </li>
  </ul>
</div>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>